<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Server.Services.MotorService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9000"/>
					</baseAddresses>
				</host>
				<endpoint
				  address="MotorService"
				  binding="netTcpBinding"
				  contract="Common.Contracts.IMotorService"/>
			</service>
		</services>
	</system.serviceModel>

	<appSettings>
		<add key="Ud_threshold" value="5.0"/>
		<add key="Uq_threshold" value="5.0"/>
		<add key="Speed_threshold" value="50.0"/>
	</appSettings>
</configuration>