<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint
			  name="MotorServiceEndpoint"
			  address="net.tcp://localhost:9000/MotorService"
			  binding="netTcpBinding"
			  contract="Common.Contracts.IMotorService"/>
		</client>
	</system.serviceModel>

	<appSettings>
		<add key="CsvPath" value="dataset.csv"/>
		<add key="MaxRows" value="115"/>
	</appSettings>
</configuration>